/* .formContainer {
  height: 400px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  align-items: center;
  justify-content: space-evenly;
}

#loginButton {
  width: 80%;
}

.signinButton {
  justify-self: flex-end;
  color: #FFFFFF;
  background-color: #FF5500;
  margin-right: 10px;
} */
