
.reviewTileImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.faContainer {
 color: #999999;
 font-size: 60px;
}

.reviewTile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: 500px;
}



.reviewTileLeft {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  font-weight: bold;
}

.reviewTileBody {
  margin-left: 20px;
  width: 275px;
  overflow-y: scroll;
  align-items: center;
}

.reviewTileBody::-webkit-scrollbar {
  display: none;
}

.reviewTileButtons {
  height: 100px;
 margin-left: 20px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.reviewBtn {
  color: #666666;
  background-color: #FFFFFF;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border: 2px solid #D9D9D9;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin-top: 15px;
  margin-left: 15px;
}
