
.landingImgContainer {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: absolute;
}


.landingImgGrad {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, .75))
}

.landingImg {
  width: 100%;
  position: absolute;
  }

.navContainer {
  position: absolute;
}

.imgWrap {
  width: 100%;
  height: 70vw;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.landingImgContainer .landingImg {
  animation: kb 40s infinite;
}

@keyframes kb {
0% {
  opacity: 0;
  transform-origin: bottom left;
  transform: scale(1.0);
  -ms-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -o-transform: scale(1.0);
  -moz-transform: scale(1.0);
}

5% {
  opacity: 1;
}

95% {
  animation-timing-function: ease-in;
  opacity: 1;
}
100% {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  opacity: 0;
}
}

.anywhereContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50vw;
  position: absolute;
  color: white;
}
.anywhereButton {
  display: flex;
  height: 50px;
  width: 200px;
  background-color: white;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.anywhereLink {
  font-size: 25px;
  font-weight: bold;
  color:  linear-gradient(
    90deg, #6F019C 0%, #C6017E 135.12%);
  text-decoration: none;
}
