.landingImgContainer {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: absolute;
}

.landingImgGrad {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, .75))
}
.landingImg {
  width: 100%;
  position: absolute;
  background: linear-gradient(rgb(0, 0, 0, .8), rgb(0, 0, 0, .4))
  }

.navContainer {
  position: absolute;
  margin-top: 20px;
}

.imgWrap {
  width: 100%;
  height: 70vw;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.landingImgContainer .landingImg {
  animation: kb 40s infinite;
}

@keyframes kb {
0% {
  opacity: 0;
  transform-origin: bottom left;
  transform: scale(1.0);
  -ms-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -o-transform: scale(1.0);
  -moz-transform: scale(1.0);
}

5% {
  opacity: 1;
}

95% {
  animation-timing-function: ease-in;
  opacity: 1;
}
100% {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  opacity: 0;
}
}
