.anywhereMainContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.anywhereCenterContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.anywhereNavContainer {
  height: 80px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.anywhereTilesContainer {
  width: 1200px;
  position: relative;
  display: grid;
  grid-template-columns: 285px 285px 285px 285px;
  gap: 20px;
}


.anywhereTile {
  width: 285px;
  height: 285px;
  background: #999999;
  border-radius: 15px;
  overflow: hidden;
 }


.anywhereHeading {
  width: 1200px;
  height: 80px;
}
