
.formContainer {
  height: 550px;
  width: 450px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}

.field {
  height: 30px;
  width: 100%;
  margin: 7px 0px 7px 0px
}

.buttonsContainer {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.uploadLabel {
  width: 80%;
}
.spotSubmitButton {
  width: 100px;

}
